<div class="modal-header">
    <h4 class="modal-title">ZEP / Groupement / CCTT : {{zep.Numero}} <button type="button" class="close" aria-label="Close" (click)="close(null)">
    <span aria-hidden="true">&times;</span>
  </button></h4>

</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-3 text-center">
            <div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}">Infos</div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}">Train-Travaux</div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}">Procédés et options applicables</div>
                <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=4" [ngClass]="{'active': (settingActive == 4)}">Procédés DFV</div>
            </div>
        </div>
        <div class="col-md-9" style="border-left: 1px solid #8080804f;">
            <!-- <fiche-zep-infos [zep]="zep" [listParticularite]="listParticularite"></fiche-zep-infos>
        <fiche-zep-train-travaux [zep]="zep" [listParticularite]="listParticularite" [listPointRemarquable]="listPointRemarquable"></fiche-zep-train-travaux>
        <fiche-zep-options [zep]="zep"></fiche-zep-options>
        <fiche-zep-procede-dfv [zep]="zep" [listConditionsParticuliereDeVerif]="listConditionsParticuliereDeVerif" [listParticularite]="listParticularite" [listMesureProtection]="listMesureProtection" ></fiche-zep-procede-dfv> -->

            <div *ngIf="settingActive == 1" class="col-md-12">
                <fiche-zep-infos [zep]="zep" [listParticularite]="listParticularite"></fiche-zep-infos>
            </div>
            <div *ngIf="settingActive == 2" class="col-md-12">
                <fiche-zep-train-travaux [zep]="zep" [listParticularite]="listParticularite" [listPointRemarquable]="listPointRemarquable"></fiche-zep-train-travaux>
            </div>
            <div *ngIf="settingActive == 3" class="col-md-12">
                <fiche-zep-options [zep]="zep"></fiche-zep-options>
            </div>
            <div *ngIf="settingActive == 4" class="col-md-12">
                <fiche-zep-procede-dfv [zep]="zep" [listConditionsParticuliereDeVerif]="listConditionsParticuliereDeVerif" [listParticularite]="listParticularite" [listMesureProtection]="listMesureProtection"></fiche-zep-procede-dfv>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="close(null)">Fermer</button>
</div>
