table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
.text-green{
    color :#23ae89;
}
.text-red{
    color :#d1241e;
}
.line-separator{
    height: 1px;
    background: #d6d6d6;
    border-bottom:1px solid #d6d6d6;
}