<accordion>
    <accordion-group heading="Engagement réel de TTX" [isOpen]="true">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="text-center">Autorisation : « M {{dfv.RPTX}} RPTx à {{dfv.ResponsableDFV?.Nom}} pouvez engager TTx n° xx sur ZEP {{dfv.Zep?.Numero}} par yy »</span>
            </div>
        </div>
        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">Etat</th>
                <th class="text-center">Numéro TTX</th>
                <th class="text-center">Nature</th>
                <th class="text-center">PE</th>
                <th class="text-center"> </th>
            </tr>
            <tr *ngFor="let manoeuvre of getManoeuvreEngagement()">
                <td>
                    <div>
                        <label>
                            <i [ngClass]="getIconEtatManoeuvre(manoeuvre)" [popover]="popTemplateParDepeche" triggers="mouseenter:mouseleave"></i>
                        </label>
                    </div>
                    <ng-template #popTemplateParDepeche>
                        <div class="row text-center" *ngIf="manoeuvre.ParDepeche; else popTemplateAutre">
                            <div *ngVar="getDepecheByManoeuvreEngagement(manoeuvre) as depeche">
                                <div class="col-md-12">
                                    <span>Manoeuvre effectué par dépêche le {{depeche.Depeche?.DateDepeche | date:'dd/MM/yyyy' }} à {{depeche.Depeche?.DateDepeche | date:'HH:mm' }}</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <span>Donné</span>
                                    </div>
                                    <div class="col-md-12">
                                        <span>{{depeche.Depeche?.NumeroDonne}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <span>Reçu</span>
                                    </div>
                                    <div class="col-md-12">
                                        <span>{{depeche.Depeche?.NumeroRecu}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #popTemplateAutre>
                        <span style="color:#656565;">{{getTextEtatManoeuvre(manoeuvre)}}</span>
                    </ng-template>
                </td>
                <td>{{manoeuvre.TTXNumero}}</td>
                <td>{{manoeuvre.TTXNature}}</td>
                <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
                <td>
                    <div *ngIf="canPerformAction(manoeuvre)">
                        <button class='btn btn-success btn-xs' [disabled]="isManoeuvreDone(manoeuvre)" (click)="showEffectuerEngagementModal(manoeuvre)" tooltip="Effectuer l'engagement">
                          <i class='fa fa-check'></i>
                        </button>
                    </div>

                </td>
            </tr>
        </table>
    </accordion-group>
    <accordion-group heading="Dégagement de TTX" [isOpen]="true">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span class="text-center">Autorisation : « {{dfv.RPTX}} RPTx à {{dfv.ResponsableDFV?.Nom}} pouvez dégager la ZEP {{dfv.Zep?.Numero}} voie vv depuis yy en direction de zz »</span>
            </div>
        </div>
        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">Etat</th>
                <th class="text-center">Numéro TTX</th>
                <th class="text-center">Nature</th>
                <th class="text-center">PR</th>
                <th class="text-center">Voie</th>
                <th class="text-center"> </th>
            </tr>
            <tr *ngFor="let manoeuvre of getManoeuvreDegagement()">
                <td>
                    <div>
                        <label>
                <i [ngClass]="getIconEtatManoeuvre(manoeuvre)" [popover]="popTemplateParDepeche" triggers="mouseenter:mouseleave"></i>
              </label>
                    </div>
                    <ng-template #popTemplateParDepeche>

                        <div class="row text-center" *ngIf="manoeuvre.ParDepeche; else popTemplateAutre">
                            <div *ngVar="getDepecheByManoeuvreDegagement(manoeuvre) as depeche">
                                <div class="col-md-12">
                                    <span>Manoeuvre effectué par dépêche le {{depeche.Depeche?.DateDepeche | date:'dd/MM/yyyy' }} à {{depeche.Depeche?.DateDepeche | date:'HH:mm' }}</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <span>Donné</span>
                                    </div>
                                    <div class="col-md-12">
                                        <span>{{depeche.Depeche?.NumeroDonne}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <span>Reçu</span>
                                    </div>
                                    <div class="col-md-12">
                                        <span>{{depeche.Depeche?.NumeroRecu}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                    <ng-template #popTemplateAutre>
                        <span style="color:#656565;">{{getTextEtatManoeuvre(manoeuvre)}}</span>
                    </ng-template>
                </td>
                <td>{{manoeuvre.TTXNumero}}</td>
                <td>{{manoeuvre.TTXNature}}</td>
                <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
                <td>{{manoeuvre.Commentaire}}</td>
                <td>
                    <div *ngIf="canPerformAction(manoeuvre)">
                        <button class='btn btn-primary btn-xs' [disabled]="isDemandeDegagementDone(manoeuvre)" (click)="showDemandeDegagementModal(manoeuvre)" tooltip="Effectuer la demande">
              <i class='fa fa-newspaper-o'></i>
            </button>
                        <button class='btn btn-success btn-xs' [disabled]="isManoeuvreDone(manoeuvre) || !isDemandeDegagementDone(manoeuvre)" (click)="showEffectuerDegagementModal(manoeuvre)" tooltip="Effectuer le degagement">
              <i class='fa fa-check'></i>
            </button>
                    </div>
                </td>

            </tr>
        </table>
    </accordion-group>

</accordion>