<div [hidden]="isOperationnel" class="content-heading">
    <!-- Conception du visuel des ZEPs -->
    Carte des ZEPs
</div>

<div [hidden]="!isOperationnel" class="content-heading">
    Synoptique opérationnel
</div>

<div class="page-header">
    <button style="margin-right:1em;" class="btn btn-primary" (click)="refresh(_ModeOperationnel)"><i class="fa fa-refresh"> </i> </button>
    <!-- <div [style.display]="(_NotSavedLinesLayerList == undefined || _NotSavedLinesLayerList.getChildren().length == 0)?'none':''" class="btn btn-success" (click)="associerZep()"><i class="fa fa-link"> </i> Lier à une ZEP</div>   -->
    <!-- <label><input type="radio" name="type" value="zep" [checked]="_DrawZEP" class="option-input radio"(click)="typeSelectedZep()">Dessiner de nouvelles ZEPs</label> -->
    <label [hidden]="!isOperationnel"><input type="radio" name="type" value="autre" [checked]="_ModeOperationnel" class="option-input radio" (click)="typeSelectedOperationnel()">Mode opérationnel</label>
    <label [hidden]="!isOperationnel"><input  type="radio" name="type" value="autre" [checked]="!_ModeOperationnel" class="option-input radio" (click)="typeSelectedAutre()">ZEPs présentes dans le secteur</label>
    <h3 [hidden]="!_DrawZEP">Dessiner des ZEPs en cliquant dans la zone de dessin et en vous déplaçant grâce à la souris.</h3>
</div>

<div class="panel panel-default" style="background-color:white;;overflow:auto;margin-top: 2em;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" id="container"></div>