<div *ngIf="!dfv  || !dfv.AvecVerificationDeLiberation" class="alert alert-info">
    Aucune Vérification de libération n'est nécessaire</div>
<div *ngIf="dfv  && dfv.AvecVerificationDeLiberation">
    <div>
        <div class="form-group" *ngFor="let choix of choixList">
            <input id="{{choix.id}}" type="radio" name="radiogroup" (change)="onSelectionChange(choix)" [value]="choix.id" [checked]="choix.id==selectedEntry.id" [disabled]="isAccordee" />

            <label for="{{choix.id}}">{{choix.description}}</label>
        </div>
    </div>

    <accordion *ngIf="isParDepehe()">

        <accordion-group heading="Vérification par dépêche (Demande)" [isOpen]="this.isDepeche1Empty()">
            <form id="formValidation" [formGroup]="form" *ngIf="dfv && dfv.VerificationZepLibre_Ligne">
                <div class="row">
                    <div class="col-md-12">
                        <formly-form [model]="dfv" [fields]="fields" [form]="form" [options]="options">
                        </formly-form>
                    </div>
                </div>
                <div class="col-md-12">
                    <button *ngIf="!isAccordee" class="btn btn-success pull-right" (click)="validerDemandeVerification()" [disabled]="!form.valid">
            <i class="fa fa-save"></i>
            Enregistrer
          </button>
                </div>
            </form>
        </accordion-group>

        <accordion-group heading="Vérification par dépêche (Retour)" [isOpen]="!this.isDepeche1Empty()" [isDisabled]="this.isDepeche1Empty()">
            <div class="row">
                <div class="col-md-12">
                    <h4> <span class="label label-info">{{getPosteName()}}</span> à <span class="label label-info">AC {{dfv.ResponsableDFV.Nom}}</span>, dernier train reçu de
                        <span class="label label-info">{{getOrigineTrain()}}</span>
                    </h4>
                </div>
                <div class="col-md-12">
                    <formly-form [model]="dfv" [fields]="fields2" [form]="form2" [options]="options2">
                    </formly-form>
                </div>
                <div class="col-md-12 ">
                    <button class="btn btn-success pull-right" (click)="validerConfirmationVerification()" [disabled]="!form2.valid">
              <i class="fa fa-save"> </i>
              Enregistrer
            </button>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>