<accordion>

    <accordion-group *ngIf="!isNotification && !isRestitution" heading="Zep occupée par TTX à l'accord de la DFV" [isOpen]="true">
        <button *ngIf="isDemandeEnCreation()" class='btn btn-success btn-xs mb-sm' (click)="showCreateOccupationAccordModal()">
        Ajouter <i class='fa fa-plus'></i>
      </button>
        <br>
        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">Action</th>
                <th class="text-center">Numéro marche</th>
                <th class="text-center">Nature</th>
            </tr>
            <tr *ngFor="let occu of getOccupationAccordDFV()">
                <td>
                    <div>
                        <button container="body" popover="Modifier" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-primary btn-xs' (click)="showUpdateOccupationModal(occu)">
              <i class='fa fa-edit'></i>
            </button>
                        <button container="body" popover="Supprimer" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-danger btn-xs' (click)="removeOccupation(occu)">
              <i class='fa fa-close'></i>
            </button>
                    </div>
                </td>
                <td>{{occu.TTXNumero}}</td>
                <td>{{occu.TTXNature}}</td>
            </tr>
        </table>
    </accordion-group>

    <accordion-group *ngIf="!isNotification && !isRestitution" heading="Zep occupée par TTX à la restitution de la Zep" [isOpen]="true">
        <button *ngIf="isDemandeEnCreation()" class='btn btn-success btn-xs mb-sm' (click)="showCreateOccupationRestitutionModal()">
        Ajouter <i class='fa fa-plus'></i></button>
        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">Action</th>
                <th class="text-center">Numéro marche</th>
                <th class="text-center">Nature</th>
                <th class="text-center">Position</th>
            </tr>
            <tr *ngFor="let occu of getOccupationRestitutionZep()">
                <td>
                    <div>
                        <button container="body" popover="Modifier" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-primary btn-xs' (click)="showUpdateOccupationModal(occu)">
              <i class='fa fa-edit'></i>
            </button>
                        <button container="body" popover="Supprimer" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-danger btn-xs' (click)="removeOccupation(occu)">
              <i class='fa fa-close'></i>
            </button>
                    </div>
                </td>
                <td>{{occu.TTXNumero}}</td>
                <td>{{occu.TTXNature}}</td>
                <td>{{occu.TTXPosition}}</td>
            </tr>
        </table>
    </accordion-group>
    <!-- Engagements -->
    <accordion-group heading="Engagement de TTX" [isOpen]="true">
        <button *ngIf="isDemandeEnCreation() && !isNotification && !isRestitution" class='btn btn-success btn-xs mb-sm' (click)="showCreateEngagementModal()">
       Ajouter <i class='fa fa-plus'></i>
      </button>

        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">Action</th>
                <th class="text-center">Numéro TTX</th>
                <th class="text-center">Nature</th>
                <th class="text-center">PR</th>
                <th *ngIf="!isNotification && !isRestitution" class="text-center"> </th>
            </tr>
            <tr *ngFor="let manoeuvre of getManoeuvreEngagement()">
                <td>
                    <div *ngIf="!isNotification && !isRestitution">
                        <button container="body" popover="Modifier" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-primary btn-xs' (click)="showUpdateManoeuvreModal(manoeuvre)">
              <i class='fa fa-edit'></i>
            </button>
                        <button container="body" popover="Supprimer" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-danger btn-xs' (click)="removeManoeuvre(manoeuvre)">
              <i class='fa fa-close'></i>
            </button>
                    </div>
                    <!-- Dépeche notification -->
                    <div *ngIf="isNotification && !isAccordee">
                        <button *ngIf="! isNotified(manoeuvre,'Engagement')" (click)="notifierParDepeche(manoeuvre,'Engagement')" tooltip="Notifier le poste par dépêche" class="btn btn-primary btn-xs"><i class="fa fa-bell-o"></i></button>
                        <div *ngIf="isNotified(manoeuvre,'Engagement')">
                            <span class="label label-success"><i class="fa fa-check"></i>Notifié</span>
                            <span class="label label-success" [innerHtml]="getDepecheNotification(manoeuvre, 'Engagement')"></span>
                        </div>

                    </div>
                    <!-- Dépeche avis réstitution -->
                    <div *ngIf="isRestitution">
                        <button *ngIf="! isNotified(manoeuvre,'EngagementRestitution')" (click)="notifierParDepeche(manoeuvre,'EngagementRestitution')" tooltip="Avis de réstitution par dépêche" class="btn btn-primary btn-xs"><i class="fa fa-bell-o"></i></button>
                        <div *ngIf="isNotified(manoeuvre,'EngagementRestitution')">
                            <span class="label label-success"><i class="fa fa-check"></i>Avis de réstitution envoyé</span>
                            <span class="label label-success" [innerHtml]="getDepecheNotification(manoeuvre, 'EngagementRestitution')"></span>
                        </div>

                    </div>
                </td>
                <td>{{manoeuvre.TTXNumero}}</td>
                <td>{{manoeuvre.TTXNature}}</td>
                <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
                <td>
                    <div *ngIf="!isNotification && !isRestitution">
                        <button container="body" popover="Modification par autre dépeche" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnAttenteAccord()  || (manoeuvre.Verbale || manoeuvre.ParDepeche || manoeuvre.ParEcrit)" class='btn btn-primary btn-xs' (click)="showCreateAutreDepecheModal(manoeuvre)"><i class='fa fa-newspaper-o'></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </accordion-group>
    <!-- Dégagements -->
    <accordion-group heading="Dégagement de TTX" [isOpen]="true">

        <button *ngIf="isDemandeEnCreation() && !isNotification && !isRestitution" class='btn btn-success btn-xs mb-sm' (click)="showCreateDegagementModal()">
        Ajouter <i class='fa fa-plus'></i>
      </button>
        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">Action</th>
                <th class="text-center">Numéro TTX</th>
                <th class="text-center">Nature</th>
                <th class="text-center">PR</th>
                <th class="text-center">Voie</th>
                <th *ngIf="!isNotification && !isRestitution" class="text-center"> </th>
            </tr>
            <tr *ngFor="let manoeuvre of getManoeuvreDegagement()">
                <td>
                    <div *ngIf="!isNotification && !isRestitution">
                        <button container="body" popover="Modifier" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-primary btn-xs' (click)="showUpdateManoeuvreModal(manoeuvre)">
              <i class='fa fa-edit'></i>
            </button>
                        <button container="body" popover="Supprimer" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-danger btn-xs' (click)="removeManoeuvre(manoeuvre)">
              <i class='fa fa-close'></i>
            </button>
                    </div>
                    <!-- Dépêche notification-->
                    <div *ngIf="isNotification && !isAccordee">
                        <button *ngIf="! isNotified(manoeuvre,'Dégagement')" (click)="notifierParDepeche(manoeuvre, 'Dégagement')" tooltip="Notifier le poste par dépêche" class="btn btn-primary btn-xs"><i class="fa fa-bell-o"></i></button>
                        <div *ngIf="isNotified(manoeuvre,'Dégagement')">
                            <span class="label label-success"><i class="fa fa-check"></i>Notifié</span>
                            <span class="label label-success" [innerHtml]="getDepecheNotification(manoeuvre, 'Dégagement')"></span>
                        </div>
                    </div>
                    <!-- Dépeche avis réstitution -->
                    <div *ngIf="isRestitution">
                        <button *ngIf="! isNotified(manoeuvre,'DégagementRestitution')" (click)="notifierParDepeche(manoeuvre,'DégagementRestitution')" tooltip="Avis de réstitution par dépêche" class="btn btn-primary btn-xs"><i class="fa fa-bell-o"></i></button>
                        <div *ngIf="isNotified(manoeuvre,'DégagementRestitution')">
                            <span class="label label-success"><i class="fa fa-check"></i>Avis de réstitution envoyé</span>
                            <span class="label label-success" [innerHtml]="getDepecheNotification(manoeuvre, 'DégagementRestitution')"></span>
                        </div>

                    </div>
                </td>
                <td>{{manoeuvre.TTXNumero}}</td>
                <td>{{manoeuvre.TTXNature}}</td>
                <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
                <td>{{manoeuvre.TTXVoie}}</td>
                <td *ngIf="!isNotification && !isRestitution">
                    <div>
                        <button container="body" popover="Modification par autre dépeche" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnAttenteAccord()  || (manoeuvre.Verbale || manoeuvre.ParDepeche || manoeuvre.ParEcrit)" class='btn btn-primary btn-xs' (click)="showCreateAutreDepecheModal(manoeuvre)"><i class='fa fa-newspaper-o'></i></button>
                    </div>
                </td>
            </tr>
        </table>
    </accordion-group>

    <accordion-group *ngIf="!isNotification && !isRestitution" heading="Demande d'autorisation de franchissement des signaux intermédiaires" [isOpen]="true">
        <button *ngIf="isDemandeEnCreation()" class='btn btn-success btn-xs mb-sm' (click)="showCreateAutorisationModal()">
        Ajouter <i class='fa fa-plus'></i>
      </button>
        <table class="table table-rounded text-center">
            <tr>
                <th class="text-center">Action</th>
                <th class="text-center">Signal intermédiaire</th>
                <th class="text-center">Commentaire</th>
            </tr>
            <tr *ngFor="let manoeuvre of getManoeuvreAutorisationFranchissement()">
                <td>
                    <div>
                        <button container="body" popover="Modifier" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-primary btn-xs' (click)="showUpdateManoeuvreModal(manoeuvre)">
              <i class='fa fa-edit'></i>
            </button>
                        <button container="body" popover="Supprimer" triggers="mouseenter:mouseleave" [disabled]="!isDemandeEnCreation()" class='btn btn-danger btn-xs' (click)="removeManoeuvre(manoeuvre)">
              <i class='fa fa-close'></i>
            </button>
                    </div>
                </td>
                <td>{{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.PosteConcerne?.Nom}} / {{getPointRemarquableById(manoeuvre.PointRemarquable_ZepId)?.Valeur}}</td>
                <td>{{manoeuvre.Commentaire}}</td>
            </tr>
        </table>
    </accordion-group>
</accordion>