<div class="content-heading">
    BIBLIOTHEQUE DE ZEPS
    <span class="pull-right">Nombre de Zeps : {{ this.zepsList ? this.zepsList.length : ""}}</span>
</div>
<p></p>

<div class="">
    <ngx-loading [show]="loading" ></ngx-loading>
   <!-- <button (click)="goSynoCreation()" class="btn btn-primary"><i class="fa fa-pencil"> </i>&nbsp;Conception du visuel des ZEPs</button> -->
    <ng4-files-click (filesSelect)="filesSelect($event)" tooltip="Importer les Zeps au format Excel">
        <span  class="btn btn-primary"><i class="fa fa-upload"> </i> Importer Zeps </span>
    </ng4-files-click>
    <button  class="btn btn-primary"><i class="fa fa-pencil"> </i>&nbsp;Créer une ZEP</button>
    <br><br>
</div>

<div class="mb-lg clearfix">
    <div class="pull-let">
        <input *ngIf="config.filtering" placeholder="Rechercher" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
        <div *ngFor></div>
    </div>
</div>

<div class="panel panel-default">
    <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="showZep($event)" [rows]="rows" [columns]="columns"> </ng-table>
</div>
