
<form [formGroup]="form" (ngSubmit)="submit(dfv)"  style="height:500px; overflow: auto;" *ngIf="dfv!=null">
  <div class="col-md-12">
    <formly-form [model]="dfv" [fields]="fields" [form]="form" [options]="options">
    </formly-form>
  </div>
</form>



  
