<!-- <div class="label label-info" *ngIf="dfv">
  Notification DFV {{dfv.Numero}}
  Zep : {{dfv.Zep.Numero}} de Type : {{dfv.Zep.ZepType.Nom}}
  Avec Vérification de libération : {{dfv.Zep.AvecVerificationDeLiberation}}
  RPTX : {{dfv.Zep.RPTX}}
</div> -->

<accordion>
    
    <accordion-group heading="Information DFV et Application" [isOpen]="true">
        <div class="col-md-12">
            <div class="list-group col-md-6" >
                <h4>Information générale</h4>
                <div a class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.Numero}}</span>
                    <em class="fa fa-fw fa-clock-o text-muted"></em>DFV
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.Zep.Numero}}</span>
                    <em class="fa fa-fw fa-folder-open-o text-muted"></em>Zep
                </div>
                <div a class="list-group-item">
                    <span class="badge badge-success float-right"><i class="fa fa-check"></i>  {{dfv.Zep.DFVAvecVerificationLiberation}}</span>
                    <em class="fa fa-fw fa-check text-muted"></em>Avec Vérification de libération
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.RPTX}}</span>
                    <em class="fa fa-fw fa-user text-muted"></em>RPTX
                </div>
            </div>

            <div class="list-group col-md-6">
                <h4>Application</h4>
                <div a class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.OperationNumero}}</span>
                    <em class="fa fa-fw fa-tasks text-muted"></em>Numéro opération
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.AHTNumero}}</span>
                    <em class="fa fa-fw fa-fw fa-folder-open-o text-muted"></em>AHT
                </div>
                <div a class="list-group-item">
                    <span class="badge badge-success float-right"> {{dfv.AvisNumero}}</span>
                    <em class="fa fa-fw fa-info text-muted"></em>Avis
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.ContratTravauxNumero}}</span>
                    <em class="fa fa-fw fa-folder-open-o text-muted"></em>Contrat travaux
                </div>
                <div class="list-group-item">
                    <span class="badge badge-success float-right">{{dfv.CCTTNumero}}</span>
                    <em class="fa fa-fw fa-train text-muted"></em>CCTT numéro
                </div>
            </div>
        </div>
    </accordion-group>

    <accordion-group heading="Notification d'Engagements / Dégagements de TTX" [isOpen]="true">
        <app-dfv-bloc-ttx 
            [isPosteCreateur]="isPosteCreateur" 
            [dfv]="dfv" 
            (dfvChange)="onDfvChange($event)"
            [listTypeOccupation]="listTypeOccupation" 
            [listTypeManoeuvre]="listTypeManoeuvre" 
            [listPointRemarquable]="listPointRemarquable"
            [listDepecheType]="listDepecheType"
            [isNotification] = "true">
        </app-dfv-bloc-ttx>
    </accordion-group>

</accordion>