<div class="modal-header">
    <h4>{{depecheType? depecheType.Nom : "Echange de dépêche"}}</h4>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="col-md-12">
            <formly-form [model]="depeche" [fields]="fields" [form]="form" [options]="options">
            </formly-form>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" [disabled]="!form.valid" class="btn btn-success" (click)="submit()">Enregistrer</button>
    <button type="button" class="btn btn-warning" (click)="closePopup()">Fermer</button>
</div>