<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <strong>Aiguilles à position obligée :</strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getAiguillesPositionOblige()">
          <label class="badge badge-info font-size-13"> {{item}}</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Aiguilles à disposer dans la position prévue avant accord (continuité) :</strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getAiguillesADisposer()">
          <label class="badge badge-info"> {{item}}</label>
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="text-bold">
        Mesures de protection :
      </h4>
      <div class="col-md-12">
        <tabset class="bg-white p0">
          <tab *ngFor="let poste of listMesureProtection">
            <ng-template tabHeading>
              {{poste.NomPoste}}
            </ng-template>
            <div class="row">
              <div class="col-md-12">
                <span>Itinéraires à détruire : </span>
                <label *ngFor="let valeur of getItineraireADetruire(poste.NomPoste).ListValeur" class="badge badge-info"> {{valeur}}</label>
              </div>
              <div class="col-md-12">
                <span>Itinéraires à détruire et à munir de DA : </span>
                <label *ngFor="let valeur of getItineraireADetruireEtMunir(poste.NomPoste).ListValeur" class="badge badge-info"> {{valeur}}</label>
              </div>
              <div class="col-md-12">
                <span>Organe de commande à placer dans la position indiquée et munis d'un DA : </span>
                <label *ngFor="let valeur of getOrganeDeCommande(poste.NomPoste).ListValeur" class="badge badge-info"> {{valeur}}</label>
              </div>
              <div class="col-md-12">
                <span> Dialogue de protection : </span>
                <label *ngFor="let valeur of getDialogueDeProtection(poste.NomPoste).ListValeur" class="badge badge-info"> {{valeur}}</label>
              </div>
              <div class="col-md-12">
                <span> Autorisation à détruire : </span>
                <label *ngFor="let valeur of getAutorisationADetruire(poste.NomPoste).ListValeur" class="badge badge-info"> {{valeur}}</label>
              </div>
              <div class="col-md-12">
                <span> Aiguille immobilisée dans la position indiquée : </span>
                <label *ngFor="let valeur of getAiguilleImmobilise(poste.NomPoste).ListValeur" class="badge badge-info"> {{valeur}}</label>
              </div>
              <div class="col-md-12">
                <span> Jalon d'arrêt à placer sur le terrain : </span>
                <label *ngFor="let valeur of getJalonDarret(poste.NomPoste).ListValeur" class="badge badge-info"> {{valeur}}</label>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="row">
      <h4 class="text-bold">
        Conditions particulières de vérification de libération de la ZEP :
      </h4>
      <div class="col-md-12" *ngFor="let poste of listConditionsParticuliereDeVerif">
        <span class="text-bold"> {{poste.NomPoste}}</span>
        <span *ngFor="let valeur of getConditionParticuliereDeVerification(poste.NomPoste).ListValeur">
          <label class="badge badge-info font-size-13"> {{valeur}}</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Dispositions particulières : </strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getDispositionsParticuliereExploitation()">
          <label class="badge badge-info">{{item}}
          </label>
        </span>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="text-bold">
        Mesures à prendre par l'equipement
      </h4>
      <div class="col-md-12">
        <strong>Outil de bouclage : </strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getOutilDeBouclage()">
          <label class="badge badge-info">{{item}}
          </label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Dispositions particulières : </strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getDispositionsParticuliereEquipement()">
          <label class="badge badge-info">{{item}}
          </label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Autres mesures éventuelles : </strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getAutresMesureEventuelles()">
          <label class="badge badge-info">{{item}}
          </label>
        </span>
      </div>
    </div>
  </div>
</div>
