<div class="content-heading">
    LISTE DES DFV
</div>
<ngx-loading [show]="loading" ></ngx-loading>
 <button class="btn btn-success pull-right" (click)="showAddDFVModal()" *ngIf="canAddDfv()">Ajouter une DFV</button>
<div *ngIf="dfvList.length > 0">
    <div class="mb-lg clearfix">
        <div class="pull-let wd-md">
            <input *ngIf="config.filtering" placeholder="Rechercher" [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
            <div *ngFor></div>
        </div>
       
        <div class="">
    
        </div>
    </div>
    
    <div class="panel panel-default" >
        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="showDFV($event)" [rows]="rows" [columns]="columns">
        </ng-table>
    </div>
</div>

