<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 offset-6 text-center">
        <div class="form-group input-group-sm">
          <label class="control-label">TTX Autorisés :</label>
          <i [ngClass]="zep.AutorisationTTX === true ? 'fa fa-check text-green' : 'fa fa-times text-red'"></i>
          <span></span>
        </div>
      </div>
      <div class="col-md-6 offset-6 text-center">
        <div class="form-group input-group-sm">
          <label class="control-label ">LAM Autorisés :</label>
          <i [ngClass]="zep.AutorisationLAM === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="text-bold">
        Point d'engagements :
      </h4>
      <div class="col-md-12">
        <div *ngFor="let item of getPointRemarquableEngagement().ListPosteVm">
          <span class="text-bold"> {{item.NomPoste}} : </span>
          <span *ngFor="let value of item.ListValue">
            <label class="badge badge-info"> {{value}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="text-bold">
        Point de dégagement :
      </h4>
      <div class="col-md-12">
        <div *ngFor="let item of getPointRemarquableDegagement().ListPosteVm">
          <span class="text-bold"> {{item.NomPoste}} : </span>
          <span *ngFor="let value of item.ListValue">
            <label class="badge badge-info"> {{value}}</label>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="text-bold">
        Signaux intérmédiaires :
      </h4>
      <div class="col-md-12">
        <div *ngFor="let item of getPointRemarquableSignauxInter().ListPosteVm">
          <span class="text-bold"> {{item.NomPoste}} : </span>
          <span *ngFor="let value of item.ListValue">
            <label class="badge badge-info"> {{value}}</label>
          </span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="text-bold">
        Dispositions particulières :
      </h4>
      <div class="col-md-12">
        <span class="text-bold">DFV restituée occupée : </span>
        <span *ngFor="let item of getDFVRestitue()">
          <label class="badge badge-info font-size-13"> {{item}}</label>
        </span>
      </div>
      <div class="col-md-12">
        <span class="text-bold">TTx Stationné : </span>
        <span *ngFor="let item of getTTXStationne()">
          <label class="badge badge-info"> {{item}}</label>
        </span>
      </div>
      <div class="col-md-12">
        <span class="text-bold">Autres : </span>
        <span *ngFor="let item of getAutresDispositionsParticulieresTTX()">
          <label class="badge badge-info"> {{item}}</label>
        </span>
      </div>
    </div>
  </div>
</div>
