<div class="modal-header">
    <h4 class="modal-title">Ajouter une mesure de protection
        <button type="button" class="close" aria-label="Close" (click)="closePopup()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h4>
</div>
<form [formGroup]="form" (ngSubmit)="submit(mesure)" *ngIf="mesure!=null">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <formly-form [model]="mesure" [fields]="fields" [form]="form" [options]="options">
                </formly-form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid || !mesure.PriseDeMesure">Enregistrer</button>
        <button type="button" class="btn btn-warning" (click)="closePopup()">Fermer</button>
    </div>
</form>