<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img class="block-center img-rounded" src="assets/img/logo.png" style="width:200px;" alt="Image" />
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv"> Connectez-vous pour continuer.</p>
                <form [formGroup]="valForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group has-feedback">
                        <input class="form-control" id="loginPhenix" type="texte" name="login" placeholder="Entrez votre identifiant" autocomplete="off" formControlName="login" required="" />
                        <span class="fa fa-sign-in form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['login'].hasError('required') && (valForm.controls['login'].dirty || valForm.controls['login'].touched)">L'identifiant est obligatoire</span>
                        <!-- <span class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field must be a valid email address</span> -->
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" id="exampleInputPassword1" type="password" name="password" placeholder="Mot de passe" formControlName="password" required="" />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">Le mot de passe est obligatoire</span>
                    </div>
                    <!-- <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0">
                            <label>
                                <input type="checkbox" value="" name="account_remember"/>
                                <span class="fa fa-check"></span>Se souvenir de moi</label>
                        </div>

                    </div> -->
                    <button class="btn btn-block btn-primary mt-lg" type="submit">Se connecter</button>
                    <span class="text-danger" *ngIf="invalidLogin">Le login et/ou le mot de passe sont incorrects</span>
                </form>
                <!-- <div class="alert alert-danger text-center" ></div> -->
                <!-- <p class="pt-lg text-center">Need to Signup?</p><a class="btn btn-block btn-default" [routerLink]="'/register'">Register Now</a> -->
            </div>
        </div>
        <!-- END panel-->
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span>-</span>
            <span>{{ settings.app.name }}</span>
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>