<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">DFV avec vérification de libération :</label>
          <i [ngClass]="zep.DFVAvecVerificationLiberation === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">DFV sans vérification de libération derrière Train Ouvrant :</label>
          <i [ngClass]="zep.DFVSansVerificationLiberationDerriereTrainOuvrant === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">DFV sans vérification de libération avec TTx déclencheur(s) :</label>
          <i [ngClass]="zep.DFVSansVerificationLiberationTTxDeclencheur === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">DFV sans vérification de libération avec TTx stationné(s) :</label>
          <i [ngClass]="zep.DFVSansVerificationLiberationTTxStationne === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">DFV restituée occupée :</label>
          <i [ngClass]="zep.DFVRestitueeOccupee === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">DFV sans vérification de libération avec TTx stationné sur la partie G uniquement :</label>
          <i [ngClass]="zep.DFVSansVerificationLiberationTTxStationnePartieG === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">Geq sans TTX :</label>
          <i [ngClass]="zep.GeqSansTTx === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group input-group-sm">
          <label class="control-label">Geq avec TTX :</label>
          <i [ngClass]="zep.GeqAvecTTx === true ? 'fa fa-check text-green' : 'fa fa-times text-danger' "></i>
        </div>
      </div>
    </div>
  </div>
</div>
