<div class="modal-header">
    <h4 class="modal-title">Assoier le dessin à une ZEP</h4>
    <button type="button" class="close" aria-label="Close" (click)="close(null)">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-6 offset-6">
            <div class="form-group input-group-sm">
                <label class="control-label">Nom de la ZEP</label>
                <select class="form-control" [(ngModel)]="selectedZep">
                  <option *ngFor="let z of listZep" [ngValue]="z">{{z.Numero}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 offset-6">
            <div class="form-group input-group-sm">
                <label class="control-label" id="couleurZEP">Couleur de la ZEP</label>
                <select class="form-control" name="singleSelect" [(ngModel)]="selectedColor">
                  <option style = "background-color: blue" [ngValue]="'blue'">Bleu</option>
                  <option style = "background-color: purple"  [ngValue]="'purple'">Purple</option>
                  <option style = "background-color: orangered"  [ngValue]="'orangered'">Orange</option>
                  <option style = "background-color: chocolate" [ngValue]="'chocolate'">Chocolat</option>
                  <option style = "background-color: goldenrod"  [ngValue]="'yellow'">Jaune</option>
                  <option style = "background-color: darkgreen" [ngValue]="'darkgreen'">darkgreen</option>
                  <option style = "background-color: green"  [ngValue]="'green'">Vert</option>
                  <option style = "background-color: olive"  [ngValue]="'olive'">Olive</option>
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="linkZEP()">Assosier</button>
        <button type="button" class="btn btn-info" (click)="close(null)">Fermer</button>
    </div>