<div class="modal-header">
  <h4 class="modal-title">Créer une zep :
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </h4>

</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-3 text-center">
      <div>
        <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}">Infos</div>
        <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}">Train-Travaux</div>
        <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}">Procédés et options applicables</div>
        <div class="list-group-item" style="cursor: pointer;" (click)="settingActive=4" [ngClass]="{'active': (settingActive == 4)}">Procédés DFV</div>
      </div>
    </div>

    <div class="col-md-9" style="border-left: 1px solid #8080804f;">

      <div *ngIf="settingActive == 1" class="col-md-12">
        <form class="formly" role="form" [formGroup]="form">
          <formly-form [model]="newZep" [fields]="fieldsInfo">
          </formly-form>
        </form>
      </div>
      <div *ngIf="settingActive == 2" class="col-md-12">
        <form class="formly" role="form" [formGroup]="form">
          <formly-form [model]="newZep" [fields]="fieldsTTX">
          </formly-form>
        </form>
      </div>

      <div *ngIf="settingActive == 3" class="col-md-12">
        <form class="formly" role="form" [formGroup]="form">
          <formly-form [model]="newZep" [fields]="fieldsProcedesDFV">
          </formly-form>
        </form>
      </div>

      <div *ngIf="settingActive == 4" class="col-md-12">
      </div>

    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning">Fermer</button>
</div>