<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <div class=" text-center text-bold"> Période d'application</div>
        <div class=" text-center">{{zep.DateDebutApplicabilite | date:'dd/MM/yyyy'}} au {{zep.DateFinApplicabilite | date:'dd/MM/yyyy'}}</div>
      </div>
      <div class="col-md-3">
        <div class="text-center text-bold"> Type</div>
        <div class="text-center">{{zep.ZepType?.Nom}}</div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-bold">Image </div>
        <div class="text-center">
          <button class="btn btn-xs btn-primary">{{zep.FichierImage}}</button>
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <strong>Composition (cas d'un groupement de zep) :</strong>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span *ngFor="let item of zep.CompositionGroupeZepList">
          <label class="badge badge-success"> {{item.ZepEnfant?.Numero}}</label>
        </span>
      </div>
    </div>
    <div>
      <strong>Incompatibilité avec d'autres ZEP :</strong>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span *ngFor="let item of zep.IncompatibiliteZepList; let isLast=last">
          <label class="badge badge-danger"> {{item.ZepIncompatible?.Numero}}</label>

        </span>
        </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-8">
        <div>
          <strong>Applicable dans les conditions (Poste fermé / Poste ouvert) :</strong>
        </div>
        <div>
          <!--<span>{{getParticularitePoste().join(", ")}}</span>-->
          <span *ngFor="let item of getParticularitePoste()">
            <label class="badge badge-black font-size-13"> {{item}}</label>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-bold">DFV demandé à </div>
        <div class="text-center">
          {{zep.PosteDemandeDFV?.Nom}}
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <strong>Conditions de protection et vérifications des postes :</strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of getConditionProtectionVerifPoste()">
          <label class="badge badge-info">{{item.Poste?.Nom}}
            <i [ngClass]="getMesureProtectionIcon(item.Valeur)" [popover]="popTemplateProtec" triggers="mouseenter:mouseleave"></i>
            <i [ngClass]="getMesureVerificationIcon(item.Valeur)" [popover]="popTemplateVerif" triggers="mouseenter:mouseleave"></i>
          </label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <strong>Liste des aiguilles de la ZEP</strong>
      </div>
      <div class="col-md-12">
        <span *ngFor="let item of zep.AiguilleList">
          <label class="badge badge-info">{{item.Nom}}
          </label>
        </span>
      </div>
    </div>
  </div>
</div>
<ng-template #popTemplateProtec>
  <span style="color:#656565;">Protection</span>
</ng-template>
<ng-template #popTemplateVerif>
  <span style="color:#656565;">Vérification</span>
</ng-template>
