<div class="wrapper">
    <div class="block-center mt-xl wd-xxl">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img class="block-center img-rounded" src="assets/img/logo.png" style="width:200px;" alt="Image" />
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">Sélectionnez un profil</p>
                <form [formGroup]="valForm" class="form-validate mb-lg" role="form" name="choixProfilForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group has-feedback">
                        <select class="form-control" id="choixProfil" name="choixprofil" placeholder="Choisissez votre identifiant" formControlName="choixprofil" required="">
                          <option *ngFor="let choix of listChoixProfil" [ngValue]="choix" >
                            {{choix.Secteur.Nom}} - {{choix.Poste.Nom}} - {{choix.Profil.Nom}}
                          </option>
                        </select>
                        <span class="text-danger" *ngIf="valForm.controls['choixprofil'].hasError('required') && (valForm.controls['choixprofil'].dirty || valForm.controls['choixprofil'].touched)">Veuillez choisir un profil pour continuer</span>
                    </div>
                    <button class="btn btn-block btn-primary mt-lg" type="submit">Se connecter</button>
                </form>
            </div>
        </div>

    </div>
</div>